<div class="modal-header">
    <div class="row">
        <div class="col-md-8">
            <h3>{{category}}</h3>
        </div>
        <div class="col-md-4">
            <h3>{{value}}</h3>
        </div>

    </div>
</div>
<div class="modal-body">
    <div class="row answer-dialog">
        <div class="col-md-8">
            A válasz: <span class="answer">{{answer.answer}}</span>
        </div>
    </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div> -->