<div class="modal-header">
    <div class="row">
        <div class="col-md-8">
            <h3>{{category.displayName}}</h3>
        </div>
        <div class="col-md-4">
            <h3>{{value}}</h3>
        </div>

    </div>
</div>
<div class="modal-body">
    <div class="row question-dialog">
        <div class="col-md-8">
            <div class="text question">
                A kérdés: {{question.question}}

                <img ng-if="!!question.image" ng-src="{{question.image}}" style="display: block; min-width: 200px; min-height: 200px; max-width: 350px; max-height: 350px;"/>
                
                <audio controls ng-if="!!question.sound">
                    <source ng-src="{{question.sound}}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
                
                <video controls ng-if="!!question.video">
                    <source ng-src="{{question.video}}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="text answer">
                A válasz: {{question.answer}}
            </div>
        </div>
        <div class="col-md-2">
            Csapatok
            <ul class="list-unstyled">
                <li ng-repeat="team in teams" class="team-field">
                    <div>
                        <span class="team-name">{{team.name}}</span>
                        <span class="team-point">({{team.point}})</span>
                        <span class="text-right" ng-if="!!team.actionOrder">! {{team.actionOrder}} !</span>
                    </div>
                    <button class="btn btn-primary" ng-click="emitTeamPointChange(team, true)">+ {{value}}</button>
                    <button class="btn btn-danger" ng-click="emitTeamPointChange(team, false)">- {{value}}</button>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            Iranyitas
            <ul class="list-unstyled control-cont">
                <li>
                    <div>Kerdes lathato</div>
                    <button class="btn btn-success" ng-click="showQuestion()">Igen</button>
                    <button class="btn btn-warning" ng-click="hideQuestion()">Nem</button></li>
                 <li>
                    <div>Valasz lathato</div>
                    <button class="btn btn-success" ng-click="showAnswer()">Igen</button>
                    <button class="btn btn-warning" ng-click="hideAnswer()">Nem</button>
                 </li>
                    <!-- <button class="btn btn-primary" ng-click="startTimer()">Ido indit</button> -->
                 <li>
                    <div>Kerdes valaszolt</div>
                    <button class="btn btn-success" ng-click="emitQuestionState(true)">Igen</button>
                    <button class="btn btn-warning" ng-click="emitQuestionState(false)">Nem</button>
                 </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-alert" ng-click="cancelAll()">Cancel All</button>
</div>
