<div class="container">
    <div class="row">
        <ul class="col-sm-2 category" ng-repeat="category in categories" ng-class="{'col-sm-offset-1': {{$first && categories.length === 5}}}" data-value="{{$first && categories.length === 5}}">
            <li class="question-title text-center">
                <div>{{category.displayName}}
                </div>
            </li>
            <li class="question text-center" ng-repeat="question in category.questions" ng-click="openQuestionDetail(question, category, ($index + 1) * 100)">
                <div ng-class="{answered: question.answered}">
                    <span>{{($index + 1) * 100}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="row team-container" ng-show="teams.length === 2">
        <div class="col-sm-4" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first}">
            <div class="team-name text-center">{{team.name}}</div>
            <div class="point text-center">{{team.point}}</div>
            <div class="point-label text-center">pont</div>
        </div>
    </div>
    <div class="row team-container" ng-show="teams.length === 3">
        <div class="col-sm-2" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first, 'col-sm-offset-1': !$first}">
            <div class="team-name text-center">{{team.name}}</div>
            <div class="point text-center">{{team.point}}</div>
            <div class="point-label text-center">pont</div>
        </div>
    </div>
    <div class="row team-container" ng-show="teams.length === 4">
        <div class="col-sm-2" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first}">
            <div class="team-name text-center">{{team.name}}</div>
            <div class="point text-center">{{team.point}}</div>
            <div class="point-label text-center">pont</div>
        </div>
    </div>
</div>
