<!DOCTYPE html>
<html ng-app="jeporady">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jeporady</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/main-screen.css">
    </head>
    <body ng-controller="JeporadyController">
        <h1 class="text-center main-title">Mindent vagy semmit!</h1>
        <div class="container">
            <div class="row">
                <ul class="col-sm-2 category" ng-repeat="category in categories" ng-class="{'col-sm-offset-1': {{$first && categories.length === 5}}}" data-value="{{$first && categories.length === 5}}">
                    <li class="question-title text-center">
                        <div>{{category.displayName}}
                        </div>
                    </li>
                    <li class="question text-center" ng-repeat="question in category.questions" ng-click="openQuestionAction(question, category, ($index + 1) * 100)">
                        <div ng-class="{answered: question.answered}">
                            <span>{{($index + 1) * 100}}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row team-container" ng-show="teams.length === 2">
                <div class="col-sm-4" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first}">
                    <div class="team-name text-center">{{team.name}}</div>
                    <div class="point text-center">{{team.point}}</div>
                    <div class="point-label text-center">pont</div>
                </div>
            </div>
            <div class="row team-container" ng-show="teams.length === 3">
                <div class="col-sm-2" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first, 'col-sm-offset-1': !$first}">
                    <div class="team-name text-center">{{team.name}}</div>
                    <div class="point text-center">{{team.point}}</div>
                    <div class="point-label text-center">pont</div>
                </div>
            </div>
            <div class="row team-container" ng-show="teams.length === 4">
                <div class="col-sm-2" ng-repeat="team in teams" ng-click="openTeamDetail(team)" ng-class="{'col-sm-offset-2': $first}">
                    <div class="team-name text-center">{{team.name}}</div>
                    <div class="point text-center">{{team.point}}</div>
                    <div class="point-label text-center">pont</div>
                </div>
            </div>
        </div>

        <!-- Library files -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="lib/jquery/1.10.2/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="lib/angular/1.2.0/angular.js"></script>
        <script src="lib/bootstrap/3.0.3/js/bootstrap.js"></script>
        <script src="lib/angular-ui/0.9.0/ui-bootstrap-tpls.js"></script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>


        <script src="js/plugins.js"></script>

        <!-- Project files -->
        <script src="js/Jeporady.js"></script>
        <script src="js/controllers/JeporadyController.js"></script>
        <script src="js/controllers/QuestionViewController.js"></script>
        <script src="js/controllers/AnswerViewController.js"></script>

    </body>
</html>
